main {
    background: $dark-background;
    background-position: center;
    background-size: cover;
}

.main__wrapper {
    display: flex;
    flex-direction: row-reverse;
    max-width: 95%;
    margin: 0 auto;
    height: calc(100vh - 155px);
}