.sidebar {
    // position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 20px;

    // padding: 0 15px 0 40px;

    svg {
        width: 30px;
        height: 30px;
        fill: $color-white;
        opacity: 0.5;
    }

    // padding-top: 50px;
    &__function {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__extra {
        // height: 200px;
        display: flex;
        flex-direction: column;
        // justify-content: space-between;
    }


    button {

        background-size: cover;
        border: none;
        outline: none;
        width: 58px;
        height: 58px;
        cursor: pointer;
        background-color: $shadow;
        border-radius: 10px;
        transition: 0.2s;
        color: #ffff;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px 30px;



    }

    button:hover {


        transition: 0.2s;
        background-color: rgba(240, 230, 230, 0.3);

        svg {
            opacity: 0.8;
        }


    }

    button:active {
        transform: scale(0.95);
        transition: 0.2s;
        background-color: #353535;
    }



}