
$color-white: #ffffff;
$unnamed-color-5284ce: #5284CE;
$unnamed-color-f5f5f5: #F5F5F5;
$unnamed-color-fdb12e: #FDB12E;
$unnamed-color-6ebcb7: #6EBCB7;
$unnamed-color-ef5743: #EF5743;
$dark-background: #1D1C24;
$shadow: #414141;
$font-color: #f5f5f5;